body{
    padding: 0;
    margin: 0;
    background-color: orange;
    font-family: 'dosis-light';
    width: 100vw;
   
}


.top {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    grid-gap: 5px;
    height: 8vh;
    background-color: orange;
    background-image: linear-gradient( rgb(41, 2, 49),tomato,orange);
    padding: 5px;
    margin-bottom: 3vh;
    position: fixed;
    width: 100vw;
    right: 0;
    left: 0;
    z-index: 999;
}



input {
    display: block;
    background-color: white;
    color: black;
    border: rgb(41, 2, 49) solid 5px;
    font-size: 25px;
    position: fixed;
    margin-left: 65vw;
    margin-top: 2vh;
    border-radius: 25px;
    text-align: center;
  }



.location {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: rgb(41, 2, 49);
    height: 95vh;
    padding-left: 5vw;
    
  
}


.city {
    font-size: 45px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: 56vh;
    border: tomato solid;
    color: tomato;
    margin-bottom: 39vh;
    border-radius: 25px;
    width: 85vw;
}

.state {
    font-size: 45px;
    font-family: 'oxanium';
    text-align: center; 
    color: tomato;
    margin-top: -47vh;
}






.date {
    font-size: 25px;
    font-family: 'oxanium';
    text-align: center; 
    color: tomato;
    margin-top: -38vh;
}

.time {
    font-size: 35px;
    font-family: 'oxanium';
    text-align: center; 
    color: tomato;
    margin-top: -30vh;
    border-radius: 25px;
    border: tomato solid;
    margin-bottom: 26vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
 
}

.description_long {
    font-size: 30px;
    font-family: 'oxanium';
    text-align: center; 
    color:  rgb(41, 2, 49);
    margin-top: 15vh;

}





.timeday {
    font-size: 49px;
    font-family: 'oxanium';
    text-align: center; 
    color: tomato;
    margin-top: -55vh;
}


 







.middle {
    display: grid;
    grid-template-rows: .5fr .2fr .5fr;
    background-color: rgb(41, 2, 49);
    height: 53vh;
    margin-top: 42vh;
}

.current-temp {
    background-color: #rgb(41, 2, 49);
    background-image: linear-gradient(30deg,lightsalmon, rgb(248, 233, 144), orange);
    height: 68vh;
    border-radius: 25px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 16vh;
    padding: 20px;
    font-size: 20px;
    font-family: 'oxanium';
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2px;
    
    
}


h1 {
    font-size: 55px;
    font-family: 'oxanium';
    text-align: left;
    color: rgb(41, 2, 49);
    padding: 15px;
    margin-top: -.5vh;
    

}









h6 {
    font-size: 40px;
    font-family: 'oxanium';
    text-align: center;
    color: orange;
    margin-top: 1vh;
    margin-bottom: 20vh;
}




.icon8 {
    margin-top: -20vh;
    margin-left: 20vw;
}

.icon9 {
    margin-top: -20vh;
    margin-left: 10vw;
}


.rise-set {
    background-color: rgb(248, 233, 144);
    background-image: linear-gradient(rgb(248, 233, 144), orange);
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding-top: 15px;
    padding-bottom: 4px;
    margin-top: -13vh;
    margin-bottom: -1vh;
}





.sunrise {
    color: rgb(41, 2, 49);
    font-size: 40px;
    font-family: 'oxanium';
    text-align: center;
    margin-left: 33vw;
    margin-top: 6vh;
    border: rgb(41, 2, 49) solid;
    width: 10vw;
    padding: 15px;
    border-radius: 25px;
}

.sunset {
    color: rgb(41, 2, 49);
    font-size: 40px;
    font-family: 'oxanium';
    text-align: center;
    margin-left: 23vw;
    margin-top: 6vh;
    border: rgb(41, 2, 49) solid;
    border: rgb(41, 2, 49) solid;
    width: 10vw;
    padding: 15px;
    border-radius: 25px;
}
















    
    








.extra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(41, 2, 49);
    height: 60vh;
    grid-gap: 25px;
    margin-bottom: -45vh;
    margin-top: 30vh;
    width: 100vw;
   
}

.humidity {
    
    height: 5vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color: tomato;
    text-align: center;
    padding-top: 3vh;
}

.wind_end {
  
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 28px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    margin-top: 10vh;
}
.precipitation {
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 28px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    margin-top: 10vh;
}

.pressure {
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    padding-top: 3vh;
}

.second-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(41, 2, 49);
    width: 100vw;
    grid-gap: 25px;
 
}

.visibility {
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    padding-top: 1vh;
    
}

.uv {
    height: 18vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    padding-top: 1vh;
}

.cloud-cover {
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    padding-top: 1vh;
}

.air {
    height: 25vh;
    background-color: rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    color:  tomato;
    text-align: center;
    padding-top: 1vh;
   
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:  rgb(41, 2, 49);
    height: 12vh;
    grid-gap: 25px;
    width: 100vw;
    margin-top: 4vh;
}


h27 {
    color: rgb(248, 233, 144);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -16vh;
    border: rgb(248, 233, 144) solid;
    margin-bottom: 16vh;
    width: 15vw;
    height: 5vh;
    margin-left: 3.5vw;
    border-radius: 25px;
}

h28 {
    color:  rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -17vh;
}

h29 {
    color:  rgb(41, 2, 49);
    font-size: 50px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -17vh;
}

h30 {
    color:  rgb(41, 2, 49);
    font-size: 70px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -17vh;
}

h31 {
    color:  rgb(41, 2, 49);
    font-size: 50px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -17vh;
}

.second-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:  rgb(41, 2, 49);
    grid-gap: 25px;
    height: 10vh;
    margin-top: 7vh;
    width: 100vw;
}

h32 {
    color:   rgb(248, 233, 144);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -35vh;
    border:rgb(248, 233, 144) solid;
    margin-bottom: 55vh;
    width: 15vw;
    height: 5vh;
    margin-left: 3.5vw;
    border-radius: 25px;
}









h37 {
    color:  rgb(41, 2, 49);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -1vh;
    
}

h38 {
    color:  rgb(41, 2, 49);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: left;
   
   
   
    
 
    
}

h39 {
    color:  rgb(41, 2, 49);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: left;
    
    
}

h40 {
    color:  rgb(41, 2, 49);
    font-size: 30px;
    font-family: 'oxanium';
    text-align: left;
   
    
}






.hourly {
    width: 100vw;
    margin: auto;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    font-family: 'oxanium';
    font-size: 28px;
    height: 48vh;
    text-align: center;
    background-color: rgb(248, 233, 144);
    background-image: linear-gradient(orange, rgb(248, 233, 144));
    padding-top: 7vh;
    
  }
  
.firsthour {
    border-radius: 25px;
    width: 18vw;
    height: 40vh;
    background-color:  rgb(41, 2, 49);
}



.secondhour {
    border-radius: 25px;
    width: 18vw;
    height: 40vh;
    background-color: rgb(41, 2, 49);
}

.thirdhour {
    border-radius: 25px;
    width: 18vw;
    height: 40vh;
    background-color:  rgb(41, 2, 49);
}

.fourthhour {
    border-radius: 25px;
    width: 18vw;
    height: 40vh;
    background-color: rgb(41, 2, 49);
}

.fifthhour {
    width: 18vw;
    height: 40vh;
    background-color:  rgb(41, 2, 49);
    border-radius: 25px;
}


.time_hourfc {
    font-size: 35px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -3vh;
    color: lightsalmon;
}

.temp {
    font-size: 60px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -20vh;
    color: tomato;
}

.wind {
    font-size: 30px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: 5vh;
    color: salmon;
    
}

.shortforecast {
    font-size: 20px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: 10vh;
    color: rgb(248, 233, 144);
}





  .day .description {
    float: left;
    width: 80%;
    text-align: right;
  }
  
  .day .precipitation {
    /* padding-bottom: 5vh; */
    float: left;
    width: 20%;
    /* padding-top: 5vh; */
  }

  .icon_forecast {
    margin: auto;
    margin-top: 80vh;
    width: 100px;
    height: 50px;
    background-color: rgb(41, 2, 49);
    margin-bottom: 10vh;
    margin-top: -35vh;
   


  }
  
  .day .weekday {
    float: left;
    width: 50%;
    /* padding-bottom: 5vh; */
  }
  
  .day .high_low {
    float: left;
    width: 50%;
    /* padding-bottom: 5vh; */
    text-align: right;
    background-color: white;
  }





  .degree_symbol_current {
      height: 4vh;
      color: tomato;
    font-size: 80px;
    font-family: 'oxanium';
    text-align: center;
    margin-top: -7vh;
   
   
  }

  .degree_symbol_feelslike {
    height: 4vh;
    color: tomato;
  font-size: 60px;
  font-family: 'oxanium';
  text-align: right;
  margin-top: -6.5vh;
  margin-bottom: -37vh;
  }

  .degree_symbol_high {
    
    height: 4vh;
    color: tomato;
  font-size: 60px;
  font-family: 'oxanium';
  text-align: right;
  margin-top: -6vh;
  margin-bottom: -37vh;
  }

  .degree_symbol_low {
    height: 4vh;
    color: tomato;
  font-size: 60px;
  font-family: 'oxanium';
  text-align: right;
  margin-top: -6vh;
  margin-bottom: -37vh;
  }

.hilo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
}


  .icon_01d {
    background-image: url("/img/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_02d {
    background-image: url("/img/02d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_03d {
    background-image: url("/img/03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_04d {
    background-image: url("/img/04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_09d {
    background-image: url("/img/09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_10d {
    background-image: url("/img/10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_11d {
    background-image: url("/img/11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_13d {
    background-image: url("/img/13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_50d {
    background-image: url("/img/50d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon_11n {
    background-image: url("/img/11n.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;

}


.degree {
    font-size: 65px;
    font-family: 'oxanium';
    text-align: center;
    color: tomato;
    margin-top: -33vh;
}

.forecast {
    
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'oxanium';
    font-size: 8px;
    height: 20vh;
    text-align: center;
    grid-gap: 5px;
    padding: 30px;
    background-color: orange;
}



.day2 {
    background-color: rgb(41, 2, 49);
    height: 44vh;
    width: 18vw;
    color: black;
    border-radius: 25px;
}

.day3 {
    background-color: rgb(41, 2, 49);
    height: 44vh;
    color: black;
    border-radius: 25px;
    width: 18vw;
}


.day4 {
    background-color: rgb(41, 2, 49);
    height: 44vh;
    color: black;
    border-radius: 25px;
    width: 18vw;
}


.day5 {
    background-color: rgb(41, 2, 49);
    height: 44vh;
    color: black;
    border-radius: 25px;
    width: 18vw;
}


.day6 {
    background-color: rgb(41, 2, 49);
    height: 44vh;
    width: 18vw;
    border-radius: 25px;
}



.degree_symbol_fchigh {
    font-size: 25px;
    font-family: 'oxanium';
    text-align: center;
    color: orange;
    margin-top: -2vh;
}

.degree_symbol_fclow {
    font-size: 25px;
    font-family: 'oxanium';
    text-align: center;
    color: tomato;
    margin-top: -2vh;
   
}


  .weather-description {
    font-size: 25px;
    font-family: 'oxanium';
    text-align: center;
    color: rgb(248, 233, 144);
    margin-top: 3vh;

    margin-bottom: 4vh;
  }


  #map {
    width: 400px;
    height: 600px;
    background-position: center;
    margin-top: 20vh;
   position: -webkit-sticky;
   
    
  }


  .degree_symbol:not(:empty)::after {
    content: "°";
  }


.icon {
    margin: auto;
    margin-top: 80vh;
    width: 100px;
    height: 50px;
    background-color: darkcy rgb(41, 2, 49)an;
    margin-bottom: 10vh;
    margin-top: 2vh;
}









